## Режимы компиляции и сборки (Мусор)
bin/
obj/
*.suo
*.user
*.sln.docstates

## Настройки среды JetBrains Rider
.idea/
*.sln.DotSettings.user

## База данных (Чтобы на другом ПК она создавалась чисто заново)
*.db
*.db-wal
*.db-shm

## Локальные папки тестов и артефакты сборки
TestResults/